body {
    margin: 25px;
    background-color: rgb(0, 0, 0);
    color:rgb(205, 190, 190);
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }

  